# Next.js
/.next/
/out/

# Dependencies
/node_modules/

# Env
.env
.env*.local

# Build / misc
/build
*.tsbuildinfo
next-env.d.ts
.DS_Store

# Supabase local
/supabase/.branches
/supabase/.temp
.vercel
